@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@500&display=swap');
:root {
    --primary-color: #946846;
    --secondary-color: #7EA16B;
    --accent1-color: #C3D898;
    --accent2-color: #FCC8B2;

    --heading-font: 'rubik', rubik;
    --paragraph-font: 'roboto', roboto;

    --nav-background-color: #C3D898;
    --nav-link-color: #946846;
    --nav-hover-link-color: #7EA16B;
    --nav-hover-background-color: #FCC8B2;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    max-width: 1250px;
    margin: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
    grid-column: 2 / 5;
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
h1 {
    position: absolute;
    top: 150px;
    left: 500px;
}
h2 {
    text-align: center;
}
article {
    position: absolute;
    max-width: 250px;
    max-height: 385px;
    margin-top: .5rem;
    top: 600px;
    left: 50px;
    background: #FCC8B2;

}
article img {
    max-width: 200px;
    margin: 1rem;
    top: 25px;
    left: 25px;
}

div {
    position: relative;
}
footer img{
    max-width: 85px;
}
header img{
    max-width: 125px;
    margin: 1rem;
}
section img {
    max-width: 250px;
}
section {
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}
/* Class Selector */

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.adventure{
    display: flex;
    justify-content: space-evenly;
}
.sociallinks {
    display: flex;
    justify-content: flex-end;
}
